<h1>BB Workouts</h1>
 
<table class="table table-bordered table-hover table-striped">
  <tr>
    <th><%= link_to "Trainer", :sort => "trainer" %></th>
    <th><%= link_to "Intensity", :sort => "intensity" %></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @workouts.each do |workout| %>
    <tr>
      <td><%= workout.trainer %></td>
      <td><%= workout.intensity %></td>
      <td><%= link_to 'Show', workout %></td>
      <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    </tr>
  <% end %>
</table>