<p>
  <strong>Trainer:</strong>
  <%= @workout.trainer %>
</p>
 
<p>
  <strong>Intensity:</strong>
  <%= @workout.intensity %>
</p>

<p>
  <strong>Program:</strong>
  <%= @workout.program %>
</p>

<h2>Comments</h2>
<%= render @workout.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>